<!DOCTYPE html>
<html>
    <head>
    	<title>b00170897-msc-triggerio</title>
        <script type="text/javascript" src="../js/jquery.js"></script>
        <script type="text/javascript" src="../js/mustache.min.js"></script>
        <script type="text/javascript" src="../js/libs/Three.js"></script>
        <script type="text/javascript" src="../js/libs/Detector.js"></script>
        <script type="text/javascript" src="../js/cannon.min.js"></script>
        <script type="text/javascript" src="../js/scenes/bouncingBalls.js"></script>
    </head>
    <body>
        <h1>Bouncing</h1>
  		<div id="canvas"></div>
   </body>
</html>