<div id="content">
    <section id="weather-report">
    	<dl id="weather-report-results-list">
    		<dt>Weather Report</dt>
        <dd id="weather-report-coordinates"><strong>Co-Ordinates:</strong> {{latitude}}, {{longitude}}</dd>
    		<dd id="weather-report-date"><strong>Date-stamp:</strong> <span id="weather-report-date-result">{{weather.date}}</span></dd>
    		<dd id="weather-report-temp"><strong>Temperature:</strong> <span id="weather-report-temp-result">{{weather.temp}}</span></dd>
    		<dd id="weather-report-weather-type"><strong>Weather Type:</strong> <span id="weather-report-weather-type-result">{{weather.weather_type}}</span></dd>
    		<dd id="weather-report-humidity"><strong>Humidity:</strong> <span id="weather-report-humidity-result">{{weather.hum}}</span></dd>
    		<dd id="weather-report-wind"><strong>Wind:</strong> <span id="weather-report-wind-result">{{weather.wind}}</span></dd>
    	</dl>

      <p id="weather-report-retrieval-time"><strong>Retrieval Time:</strong> <span id="weather-report-retrieval-time-result">{{retrievalTime}}</span></p>
      <p id="weather-report-processing-time"><strong>Processing Time:</strong> <span id="weather-report-processing-time-result">{{processingTime}}</span></p>
      <p id="weather-report-output-time"><strong>Output Time:</strong> <span id="weather-report-output-time-result">{{outputTime}}</span></p>
      <p id="weather-report-total-time"><strong>Approximate Total Time:</strong> <span id="weather-report-total-time-result">{{totalTime}}</span></p>

      <button id="weather-promise-get-weather-forge" onclick="getWeatherClick('forge')" class="button button-positive">Get Weather - Forge Request</button>
      <button id="weather-promise-get-weather-nativejs" onclick="getWeatherClick()" class="button button-positive">Get Weather - Native JS Promise</button>

      <p id="weather-coords-note"><em>Note: For the sake of this experiment the geo co-ordinates are hard coded. However, this can be easily tweaked as detailed in the controller.</em></p>
    </section>
</div>